<thf-page-edit
  t-title="Novo Cliente"
  [t-disable-submit]="formCliente.invalid">

  <form #formCliente="ngForm">

    <thf-divider class="thf-sm-12" t-label="Dados pessoais"></thf-divider>

    <thf-input class="thf-md-5" 
      name="name" 
      [(ngModel)]="cliente.name" 
      t-required
      t-label="Nome Completo">
    </thf-input>

    <thf-email class="thf-md-5"
      name="email"
      [(ngModel)]="cliente.email"
      t-required
      t-label="E-mail">
    </thf-email>

    <thf-switch class="thf-md-2"
      name="status"
      [(ngModel)]="cliente.status"
      t-required
      t-label-off="Inativo"
      t-label-on="Ativo"
      t-label="Status">
    </thf-switch > 

    <thf-input class="thf-md-3"
      name="nickname"
      [(ngModel)]="cliente.nickname"
      t-label="Apelido">
    </thf-input>

    <thf-datepicker class="thf-md-3"
      name="birthdate"
      [(ngModel)]="cliente.birthdate"
      t-label="Nascimento">
    </thf-datepicker>

    <thf-select class="thf-md-3"
      name="genre"
      [(ngModel)]="cliente.genre"
      t-label="Gênero"
      [t-options]="genreOptions">
    </thf-select>

    <thf-divider class="thf-sm-12" t-label="Endereço"></thf-divider>

    <thf-input class="thf-md-6"
      name="street"
      [(ngModel)]="cliente.street"
      t-label="Rua">
    </thf-input>

    <thf-input class="thf-md-3"
      name="city"
      [(ngModel)]="cliente.city"
      t-label="Cidade/Estado">
    </thf-input>

    <thf-input class="thf-md-3"
      name="country"
      [(ngModel)]="cliente.country"
      t-label="País">
    </thf-input>    


  </form>



</thf-page-edit>